{% extends 'catalog/base.html' %}
{% block content %}

<div class="container text-center">
    <form method="POST" action="" class="row gx-5" enctype="multipart/form-data">
        <div class="col-4 text-start"></div>
        <div class="col-4 text-start">
            <div class="card gy-5 ">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Обновление пароля:</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email"
                               required>
                    </div>

                    <button class="btn btn-outline-danger w-100" type="submit">Отправить новый пароль</button>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}
</div>